<h1>Universal Avenue invoice</h1>

<%= image_tag 'https://tctechcrunch2011.files.wordpress.com/2015/09/dsc_0300.jpg?w=500' %>

<p>Now pay these outstanding people!</p>

<p>Payment information ...</p>
