header, .main, footer {
  margin: 100px;
}

// header top margin needs a bit encouragement
header {
  padding-top: 100px;
}

.company-information {
  float: left;
  width: 20%;
  dd {
    clear: left;
    margin-left: 0;
  }
}
